# Blindbandit Mobile — default owners
*       @mrblindbandit

/App/                   @mrblindbandit
/Android/               @mrblindbandit
/.github/               @mrblindbandit
/Config/                @mrblindbandit
